.navbar {
    background-color: #aa81f7;
    color: #fff;
    padding: 1rem 2rem;
  }
  .navbar-brand {
    flex: 0 0 auto; 
    margin: 0 auto; 
    font-size: 2rem;
    font-style:oblique;
  }
  .sidebar {
    position: fixed;
    top: 80px; 
    left: 0;
    width: 200px; 
    height: calc(100vh - 80px); 
    background-color: #f0f0f0; 
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .btn-rounded {
    border-radius: 20px; 
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .btn-rounded:hover {
    background-color: #f0f0f0;
    color: #666;
  }
  
  .btn-rounded span {
    margin-right: 10px;
  }

  .offer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.offer-text {
    flex-grow: 1;
}

.offer-title {
    font-size: 1.2em;
    font-weight: bold;
}

.offer-brief {
    font-size: 0.9em;
    opacity: 0.7;
}

.offer-image {
    /* width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px; */
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

#offers-container {
  margin-top: 100px; 
  width: calc(50% - 100px);
  margin-left: 200px;
}

#offer-details-container {
  top: 100px;
  right: 0px;
  width: calc(50% - 200px);
  height: 90%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}

.offer-salary {
  font-weight: bold; 
  color: #319712; 
  font-size: 1.2em; 
}

#application-form .form-control {
    border: none;
    box-shadow: none;
    padding: 10px 0;
}

#application-form #topic {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
}

#application-form #applicationText {
    min-height: 300px;
    resize: vertical;
}

.card {
    border: none;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
}